<section id="list">
  <div class="container-fluid">
    <div class="col-md-2 col-md-offset-10">
      <div class="group-box">
        <p class="text-center dark-gray">Groups &amp; People</p>
      </div>
      <div class="group">
        <ul class="list">
          <li class="item"><p class=""><a id="group-btn" class="group-btn" href="#">Highschool</a></p></li>
          <li class="item"><p class=""><a id="group-btn" class="group-btn" href="#">College</a></p></li>
          <li class="item"><p class=""><a id="group-btn" class="group-btn" href="#">WaVe</a></p></li>
          <li class="item"><p class=""><a id="group-btn" class="group-btn" href="#">Gr8Code</a></p></li>
          <li class="item"><p class=""><a id="group-btn" class="group-btn" href="#">Drinking</a></p></li>
          <li class="item"><p class=""><a id="group-btn" class="group-btn" href="#">Tampa</a></p></li>
          <li class="item"><p class=""><a id="group-btn" class="group-btn" href="#">Trinidad</a></p></li>
        </ul>
      </div>
    </div>
  </div>
</section>